<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-android-transcoder"
        version="1.0.0">

    <name>Transcoder</name>
    <description>A Cordova Plugin to transcode videos on Android</description>
    <license>MIT</license>

    <keywords>cordova,transcode,video,android</keywords>

    <js-module src="www/Transcoder.js" name="Transcoder">
        <clobbers target="cordova.plugins.Transcoder" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Transcoder">
                <param name="android-package" value="cordova.plugin.android.transcoder.Transcoder"/>
            </feature>
        </config-file>
        
        <framework src="com.otaliastudios:transcoder:+" custom="true" />
        <plugin-repository url="https://maven.google.com" />
        <plugin-repository url="https://repo.maven.apache.org/maven2/" />
        
        <source-file src="src/android/Transcoder.java" target-dir="src/cordova/plugin/android/transcoder" />
    </platform>
</plugin>
